/*SERVICE*/

.section-services{
    display: flex;
    flex-direction: row-reverse;
    height: 768px;
    width: 100%;
  }

  .accordion{
      display: flex;
      flex-direction: column;
      height: 2500x;
      width: 669px;
      /*box-sizing: border-box;*/
      background: white;
      position: relative;
      margin-left: 200px;
      margin-top: 130px;
  }

  

    
    
  
  
     
     
  